<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Color Data Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div class="container">
        <div class="row">
            <img src="https://acet.ac.in/logos/LOGO3_old.png" class="center-block" id="adityaLogo">
        </div>
        <br>
        <br>
        <div class="row">
            <h1 class="center" id="main_heading">REMOTE MONITORING</h1>
        </div>
        <br>
        <div class="container" id="main">
            <div class="row">
                <h1></h1>
            </div>
            <div class="row">
                <h2 class="col-md-1"></h2>
                <h2 class="col-md-11">Product Sorting Based on Color</h1>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <canvas id="colorChart" width="100%"></canvas>
                    <br>
                    <button class="btn btn-danger pull-right" onclick="clearData()">Clear Data</button>
                </div>
                
            </div>
           
        </div>
        <br>
    </div>





    <script>
        // will not use tls if the connection is not made over https
        const protocol = window.location.protocol.includes('https') ? 'wss' : 'ws'
        const socket = new WebSocket(`${protocol}://${location.host}`);
        //const socket = new WebSocket('ws://localhost:8080',{rejectUnauthorized: false});
        let myChart;
        socket.onmessage = function (event) {
            const { colors, counts } = JSON.parse(event.data);
            updateChart(colors, counts);
        };


        function updateChart(colors, counts) {
            const ctx = document.getElementById('colorChart').getContext('2d');
            if (myChart) {
                myChart.destroy();
            }
            myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: colors,
                    datasets: [{
                        label: 'Color Counts',
                        data: counts,
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(30, 206, 86, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(30, 206, 86, 1)',
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true // Ensure that the y-axis starts at zero
                        }
                    }
                }
            });
        }

        function clearData() {
            var flag = confirm("Do you want delete the data");
            if (flag) {
                fetch('/api/colors', {
                    method: 'DELETE' // Assuming DELETE method is used to clear color data
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to clear color data');
                        }
                        return response.text();
                    })
                    .then(data => {
                        console.log('Color data cleared:', data);
                        alert('Color data cleared successfully');
                        //document.getElementById('result').innerText = 'Color data cleared successfully';
                    })
                    .catch(error => {
                        console.error('Error clearing color data:', error);
                        alert('Error clearing color data');
                       // document.getElementById('result').innerText = 'Error clearing color data';
                    });
            }
        }
    </script>
</body>

</html>
